<h3>Settings</h3>
<div class="viewtablenolb">
	<h4><span>thumbnail settings</span></h4>
	<p>
		These settings will be used on all new images that are uploaded.<br/>
		<% form_tag(:action => url(:controller => 'entries', :action => 'settings')) do %>
			Change settings:
				<%= text_field :name => 'width', :value => dimensions(Settings.instance.dimensions).width.to_i, :size => '5' %>
				x <%= text_field :name => 'height', :value => dimensions(Settings.instance.dimensions).height.to_i, :size => '5' %><br/>
				<%= submit_button 'Update' %><br/>
		<% end %>
	</p>
</div>
<div class="viewtable">
	<h4><span>upload file</span></h4>
	<% form_for(@entry, { :action => url(:entries), :multipart => true } ) do %>
		<p>
			Upload a new file.<br/>
			<%= file_field :name => 'image' %><br/>
		    <%= submit_button 'Upload file' %>
		</p>
	<% end %>
</div>

<br class="clear" />

<h3>Available files</h3>
<p>Below are the previously uploaded files.
<p>
	<ol class="indent">
		<% for entry in @entries %>
			<li><a href="<%= url(:entry, entry) %>"><%=entry.image_file_name %></a> (<%=entry.created_at.strftime('%m/%d @ %I:%M%p').downcase %>)</li>
		<% end %>
	</ol>
</p>